$gray: #CCCCCC;
$black: #1E252D;
$primary: #FFBA00;
$white: #FFFFFF;
$semiBold: 600;
$medium: 500;
$regular: 400;
$bold: 700;
$extraBold: 800;
$field-border-color: #D1D1D1;
$fieldBorder: #D9D9D9;

$yellow: #000;
$darkGray: #999999;
$background: #F2F7FA;
